<div class="alert alert-info mt-3">
  <p>You may enter your own madlib words, <em>or</em> you can have them randomly generated for you.</p>

  <p>Here are some examples:</p>

  <ul>
    <li><em>"noun <strong>cat</strong>"</em> (person, place, or thing)</li>
    <li><em>"verb <strong>jumping</strong>"</em> (action, present tense), <em>"verb <strong>ran</strong>"</em> (action, past tense)</li>
    <li><em>"adjective <strong>flashy</strong>"</em> (describing word)</li>
  </ul>
</div>

<app-words-form
  [nouns]="nouns"
  [verbs]="verbs"
  [adjs]="adjs"></app-words-form>
