<div class="row">
  <div class="col" *ngIf="ml.pronoun">
    <div class="jumbotron lead">
      <p>{{aOrAn(ml.words.adjs[0].word, true)}} {{ml.words.adjs[0].word}} {{ml.words.nouns[0].word}} {{ml.words.verbs[2].word}} to the {{ml.words.nouns[1].word}}. There, {{ml.pronoun.normal}} decided that it would be a good idea to test {{ml.pronoun.possessive}} mettle by doing some {{ml.words.verbs[0].word}} with {{aOrAn(ml.words.nouns[3].word, false)}} {{ml.words.nouns[3].word}}. To {{ml.pronoun.possessive}} surprise, the results made {{ml.pronoun.third}} {{ml.words.adjs[1].word}}.</p>

      <p>When the initial shock wore off, {{ml.pronoun.normal}} was {{ml.words.adjs[2].word}} and {{ml.pronoun.normal}} {{ml.words.verbs[2].word}}. It had been {{aOrAn(ml.words.adjs[3].word, false)}} {{ml.words.adjs[3].word}} day, so {{ml.pronoun.normal}} left the {{ml.words.nouns[1].word}} and {{ml.words.verbs[3].word}} to the {{ml.words.adjs[4].word}} {{ml.words.nouns[2].word}} {{ml.pronoun.normal}} called home.</p>

      <p>After {{ml.words.verbs[1].word}} for a little while, the {{ml.words.nouns[0].word}} {{ml.words.verbs[4].word}} and settled down for the night with {{ml.pronoun.possessive}} {{ml.words.nouns[4].word}}.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col mt-3 mb-3">
    <button
      class="btn btn-block btn-lg btn-primary"
      (click)="ml.setMadlibReady(false)">Play Again</button>
  </div>
</div>
